<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/index.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap&subset=cyrillic"
        rel="stylesheet">


    <title>Smart 3D - Вхід</title>
</head>

<body style="margin: 0;">


    <header class="top-menu">
        <div class="menu-left">
            <a href="/" class="menu-logo" onmouseover="this.style.opacity='0.7'" onmouseout="this.style.opacity='1'">
                Smart3D
            </a>
        </div>

        <nav class="menu-right">
            <a href="/contacts">Зв'язок</a>
            <a href="/">Iнформацiя</a>
            <a href="#" onclick="handleOrdersClick()">Замовлення</a>
            <a href="/register_page">Реєстрація</a>
        </nav>
        <script>
            async function handleOrdersClick() {
                try {
                    const res = await fetch("/me", { credentials: "include" });
                    if (res.ok) window.location.href = "/orders_page";
                    else window.location.href = "/login_page";
                } catch { window.location.href = "/login_page"; }
            }
        </script>
    </header>

    <main class="auth-page">
        <div class="auth-card">
            <div class="auth-title">Вхід</div>

            <form action="/login" method="post" class="auth-form">
                <input type="email" name="email" placeholder="Email" required /><br>
                <input type="password" name="password" placeholder="Пароль" required /><br>
                <button type="submit">Увійти</button>
            </form>

            <div class="auth-footer-text">
                Немає акаунту?
                <a href="/register_page">Зареєструватися</a>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="footer-grid">

            <!-- 1 -->
            <div>
                <div class="footer-title"><a href="/" style="color: inherit; text-decoration: none;">Smart3D</a></div>
                <div class="footer-text">
                    3D-Studio — команда професіоналів, відданих своїй справі.
                    Наш пріоритет — висока якість і максимальний результат
                    у кожному проєкті. Пропонуємо доступний 3D-друк
                    з швидкою доставкою по всій Україні.
                </div>

                <div class="footer-socials">
                    <img src="/static/icons/facebook.svg" alt="Facebook">
                    <img src="/static/icons/instagram.svg" alt="Instagram">
                    <img src="/static/icons/youtube.svg" alt="YouTube">
                </div>
            </div>

            <!-- 2 -->
            <div>
                <div class="footer-title">Інформація</div>
                <div class="footer-text">
                    3D друк SLA на замовлення — високоточний друк
                    для складних моделей
                    <br><br>
                    3D друк FDM на замовлення — точні та міцні деталі
                    за вашою 3D моделлю
                    <br><br>
                    Кольоровий 3D друк FDM — багатокольорові
                    моделі на замовлення
                </div>
            </div>

            <!-- 3 -->
            <div>
                <div class="footer-title">Зв’язатися з нами</div>

                <div class="footer-contact">
                    <img src="/static/icons/phone.svg" alt="">
                    <span>+38 (067) 265 98 65</span>
                </div>

                <div class="footer-contact">
                    <img src="/static/icons/phone.svg" alt="">
                    <span>+38 (066) 200 47 90</span>
                </div>

                <div class="footer-contact">
                    <img src="/static/icons/mail.svg" alt="">
                    <span>info@smart3d.com.ua</span>
                </div>

                <div class="footer-contact">
                    <img src="/static/icons/mail.svg" alt="">
                    <span>smart-3D.printing@gmail.com</span>
                </div>
            </div>

        </div>
    </footer>

</body>

</html>